:root {
  --backgroundColor: #f6fbfa;
  --textColor:#070c0b;
  --primaryColor: #4ab6a3;
  --secondaryColor: #94dbce;
  --accentColor: #6bd6c3;
  --darkBackgroundColor: #050a09;
  --darkTextColor:#f2f7f6;
  --darkPrimaryColor: #49b6a2;
  --darkSecondaryColor: #246b5e;
  --darkAccentColor: #299480;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background: radial-gradient(var(--primaryColor),var(--secondaryColor));
  min-height: 100vh;
}


.div-for-menu-btns {
  display: flex;
  margin: 0 auto;
  margin-top: 14rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 90rem;
  height: 10rem;
}
.menu-title {
  font-size: 4rem;
  text-align: center;
  background: -webkit-linear-gradient(var(--backgroundColor), rgb(182, 204, 190));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app-primary-btn {
  font-size: 1rem;
  font-weight: bold;
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: var(--backgroundColor);
}
.app-primary-btn:active {
  position: relative;
  top: 2px;
}
.app-primary-btn:hover {
  font-size: 1.2rem;
  color: var(--accentColor);
}
.app-main-menu-btn {
  border: 2px solid var(--accentColor);
  width: 18rem;
}

.age-calc-title {
  background: -webkit-linear-gradient(var(--backgroundColor), rgb(182, 204, 190));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 4rem;
  font-size: 5rem;
}
.ageCalc-container {
  background: linear-gradient(to right, var(--accentColor),var(--primaryColor));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 44rem;
  height: 24rem;
  border: 5px solid var(--backgroundColor);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ageCalc-container input {
  width: 30rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
  margin-top: -8rem;
  text-align: center;
  color:rgb(231, 16, 177);
  border: var(--backgroundColor);
  border-radius: 10px;
}
.ageCalc-container p {
  font-family: 'Times New Roman', Times, serif;
  color: var(--backgroundColor);
  margin-top:16rem;
  position: fixed;
  font-size: 4rem;
}
.ageCalc-return-btn {
  background: linear-gradient(to right, var(--accentColor),var(--primaryColor));
  width: 22rem;
  height: 4rem;
  margin-left: 40%;
  margin-top: 4rem;
  border-radius: 10px;
  border: 5px solid var(--backgroundColor);
}


.tipCalc-title {
  margin: 0 auto;
  margin-top: 14rem;
  text-align: center;
}
.tipCalc-container {
  background: linear-gradient(to right, var(--accentColor),var(--primaryColor));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 44rem;
  height: 24rem;
  border: 5px solid var(--backgroundColor);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tipCalc-input {
  width: 30rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
  text-align: center;
  color:rgb(231, 16, 177);
  border: var(--backgroundColor);
  border-radius: 10px;
}
.tipCalc-p {
  font-family: 'Times New Roman', Times, serif;
  color: var(--backgroundColor);
  font-size: 3.5rem;
}


.BMICalc-container {
  background: linear-gradient(to right, var(--accentColor),var(--primaryColor));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 44rem;
  height: 24rem;
  border: 5px solid var(--backgroundColor);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}